<%- include('header'); %>
    <div class="flex">
        <div class="w-1/4 ">
            <div class="bg-white h-20 mb-0.5  items-center " style="display: flex;justify-content: space-around;">
                <div class="flex gap-3">
                    <div class="w-14 h-14 rounded-lg bg-gray-100"></div>
                    <div class="w-14 h-14 rounded-lg bg-gray-100"></div>
                    <div class="w-14 h-14 rounded-lg bg-gray-100"></div>
                </div>
                <div class="w-24 h-14 rounded-lg bg-gray-100"></div>
            </div>
            <div class="bg-white h-2/3"></div>
            <div class="bg-gray-400 h-28"></div>
        </div>

        <div class="bg-gray-100 w-3/4">
            <div class="mx-auto max-w-2xl px-4 pb-16 sm:px-6 sm:py-1.5 lg:max-w-7xl lg:px-8">
                <div class="w-full flex items-center gap-2 h-16 bg-white rounded-lg mb-6 justify-end p-3">
                    <%for(i=0;i<=7;i++){%>

                    <div class="h-8 flex items-center p-3 bg-orange-100 border-solid border-orange-300 border-y-2 border-x-2 rounded-xl ">
                        <a>
                            طعام تركي
                        </a>
                    </div>
                    <%}%>

                </div>

                <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2   lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8 overflow-y-scroll "
                    style="height: 76vh;">
                    <%for(i=0;i<=20;i++){%>
                        <a href="#" class="group text-center bg-white ">
                            <div
                                class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                                <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-01.jpg"
                                    alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                                    class="h-full w-full object-cover object-center group-hover:opacity-75">
                            </div>
                            <h3 class="mt-4 text-sm text-gray-700">Earthen Bottle</h3>
                            <p class="mt-1 text-lg font-medium text-gray-900">$48</p>
                        </a>
                        <%}%>

                            <!-- More products... -->
                </div>
            </div>
        </div>
    </div>

    <%- include('footer'); %>